
.parte__de__mateus{
    background-color: #f6f6f6;
    width: 450px;
    height: 400px;
}

.nossafrota{
background-color: #C6B07F;
color: #FFFFFF;
width: 450px;
height: 30px;
display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
}

.nossafrota__topico{
    display: flex;
    align-items: center;
    font-weight: 100;
}

.nossafrota__imagens{
    display: flex;
    flex-direction: column;
    justify-content: space-between 4px;
}

.nossafrota__imagens01{
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 5px;
}

.nossafrota__imagens02{
    display: flex;
    flex-direction: row;
    
}
